
.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: rgb(9, 167, 127);
    margin-top: 8px;
    height: 90px;
    padding: 8px 10px;
    border-radius: 15px;
}

/* .name h5{
    color: rgb(255, 255, 255);
} */
.pic-div{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.pic-div img{
   border-radius: 36%;
   width: 100%;
   /* margin-top: -10px; */
   height: 60px;
   width: 40px;
}
